#input { 
	width: 48%; 
	height: 50px; 
	float: left; 
	margin: 0px; 
	resize: none
}

#output { 
	width: 48%; 
	height: 50px; 
	float: right;
	margin: 0px; 
	resize: none
}

#wrapper {
	margin: auto;
	border: 2px;
	max-width: 800px;
	height: auto;
/* 	border-color: #008a77;
	border-style: solid; */
}
#first {
	margin: 5px;
	height: 55px;
/* 	border: 2px;
	border-color: #aa8a77;
	border-style: solid; */
}
#second {
	margin: 5px;
	height: auto;
/* 	border: 2px;
	border-color: #008a00;
	border-style: solid; */
}

#languages {
	margin: 2px;
/* 	border: 2px;
	border-color: #008a77;
	border-style: solid; */
}

