<footer class="footer">
  <div class="container">
    <div class="row">
      <nav>
        <ul class="pull-left">
          <li>Powered by <a href="http://translate.yandex.ru">Yandex.Translate</a></li>
        </ul>
        <ul class="pull-right">
          <li><%= link_to "About", 'https://github.com/Eeeeevgen/Translator', target: :_blank %></li>
          <li><%= link_to "Contact", 'mailto: kozlov.evg.a@gmail.com' %></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>