<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "About", 'https://github.com/Eeeeevgen/Translator', target: :_blank %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>